#openwrt官方源码配置文件，集成多个路由器机型,插件就集成这么几个，其他的可从固件中的软件库随意安装。需要集成那个机型，把前面的#去掉即可！
#固定格式机型
#ipq806x
CONFIG_TARGET_ipq806x=y
CONFIG_TARGET_ipq806x_generic=y
#CONFIG_TARGET_ipq806x_generic_DEVICE_netgear_r7800=y
#CONFIG_TARGET_ipq806x_generic_DEVICE_linksys_e8350-v1=y
CONFIG_TARGET_ipq806x_generic_DEVICE_linksys_ea7500-v1=y
#CONFIG_TARGET_ipq806x_generic_DEVICE_linksys_ea8500=y
#CONFIG_TARGET_ipq806x_generic_DEVICE_netgear_r7500=y
#CONFIG_TARGET_ipq806x_generic_DEVICE_netgear_r7500v2=y
#CONFIG_TARGET_ipq806x_generic_DEVICE_netgear_xr500=y


#插件区
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_odhcp6c=y
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
# CONFIG_PACKAGE_luci-app-eqos is not set
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-i18n-guest-wifi-zh-cn=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_DEFAULT_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_vlmcsd=y
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-app-advanced-reboot=y
# CONFIG_PACKAGE_luci-app-zerotier is not set
CONFIG_PACKAGE_kmod-ipt-fullconenat=y
CONFIG_DEFAULT_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_OFFLOADING=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_SHORTCUT_FE_DRV=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_SHORTCUT_FE_CM=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_BBR_CCA=y
# CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_DNSFORWARDER is not set
# CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_DNSPROXY is not set
#插件区
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
# CONFIG_PACKAGE_ddns-scripts is not set
# CONFIG_PACKAGE_ddns-scripts_dnspod is not set
# CONFIG_PACKAGE_ddns-scripts_aliyun is not set
# CONFIG_DEFAULT_ddns-scripts_aliyun is not set
# CONFIG_DEFAULT_ddns-scripts_dnspod is not set
# CONFIG_DEFAULT_luci-app-ddns is not set
# CONFIG_PACKAGE_luci-app-ddns is not set
# CONFIG_DEFAULT_luci-app-wol is not set
# CONFIG_PACKAGE_luci-app-wol is not set
# CONFIG_DEFAULT_luci-app-arpbind is not set
# CONFIG_PACKAGE_luci-app-arpbind is not set
# CONFIG_PACKAGE_nlbwmon is not set
# CONFIG_DEFAULT_luci-app-nlbwmon is not set
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
# CONFIG_DEFAULT_luci-app-ipsec-vpnd is not set
# CONFIG_PACKAGE_luci-app-ipsec-server is not set
# CONFIG_PACKAGE_luci-app-ipsec-vpnd is not set
# CONFIG_DEFAULT_luci-app-adbyby-plus is not set
# CONFIG_PACKAGE_luci-app-adbyby-plus is not set
# CONFIG_PACKAGE_adbyby is not set
# CONFIG_DEFAULT_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-music-remote-center is not set
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-unblockmusic_INCLUDE_UnblockNeteaseMusic_Go is not set
# CONFIG_PACKAGE_luci-app-unblockmusic_INCLUDE_UnblockNeteaseMusic_NodeJS is not set
# CONFIG_PACKAGE_luci-app-unblockneteasemusic is not set
# CONFIG_PACKAGE_UnblockNeteaseMusic is not set
# CONFIG_PACKAGE_UnblockNeteaseMusic-Go is not set
# CONFIG_UNBLOCKNETEASEMUSIC_GO_COMPRESS_GOPROXY is not set
# CONFIG_UNBLOCKNETEASEMUSIC_GO_COMPRESS_UPX is not set
#主题
CONFIG_PACKAGE_luci-theme-bootstrap=y

#结束
